
.sidePane{
	-fx-background-color: #F8F8F8;
}

.sidePaneBtn:hover, .loginForm{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0, 0, 8);
}

.mainPane{
	-fx-background-color: #F2F2F2;
}

.cards, .headers{
	-fx-background-radius: 0 0 10 10;
}

.cards:hover, .headers{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 8, 0, 0, 8);
}

.nameCards{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 0, 0, 0, 8);
}

.evolutionCard{
	-fx-background-radius: 30 0;
}

.Button{
	-fx-border-color: #f8c90b;
}

.scrollPane{
	-fx-border-color:transparent transparent transparent transparent;
	-fx-focus-color: none;	
}

.textFields{
	-fx-border-color: transparent transparent  #f8c90b transparent;
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5;
}

.textFields:focused, scrollPane:focused{
	-fx-focus-color: transparent;
}

.radioBtn:focused{
	-fx-focus-color: #f8c90b;
}


